#c_HeaderBlank{
    height: 200px;
    background-color: aqua;
    display: flex;
    
}

#c_Container{
    height: 800px;
    background-color: aquamarine;
    display: flex;
}


#c_Left{
    width: 20%;
   
    background-color: purple;
    
}

#c_Right{
    width: 20%;
    
    background-color: purple;
}

#c_Center{
    width: 60%;
}
h2{
    
    flex-direction: row
}

