#scroll_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
    height: auto;
}


#container80{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#container_left{
    width: 49%;
    display: flex;
}

#container_right{
    width: 49%;
    display: flex;
    
    align-items: center;
}

#h_title{
    width: 100%;
    display: flex;
}

h2{
    display: flex;
    align-items: center;
}

#list{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    list-style: none;
}


#search{
    display: flex;
    width: 100%;
}

#member{
    width: 100%;
    display: flex;
}

#menu{
    list-style: none;
}

#container33{
    width: 33%;
    display: flex;
}