#projectContainer{
    display: flex;
}

#p_headerarea{
    height: 3.45rem;
    
}

#left{
    width: 20%;
   
    background-color: purple;
    
}

#right{
    width: 20%;
    
    background-color: purple;
}

#center{
    width: 60%;
    
}

#p_empty350{
    height: 350px;
}

#p_empty150{
    height: 150px;
}

#projectNote{
    width: 70%;
    height: 100%;
    background-color: rgb(250, 250, 20);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid;
}

#p_titlecontainer{
    width: 100%;
}

#pn_title{
    color: red;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    font-size: large;
    font-weight: 900;

}

#pn_content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
}