#projectContainer{
    display: flex;
}

#p_headerarea{
    height: 3.45rem;
    
}

#left{
    width: 20%;
   
    background-color: white;
    
}

#width30{
    width: 30%;
}

#width70{
    width: 70%;
}

#p_createcontainer{
    width: 100%;
    display: flex;
}

#right{
    width: 20%;
    
    background-color: white;
}

#center{
    width: 60%;
    
}

#p_empty350{
    height: 350px;
}

#p_empty150{
    height: 150px;
}

#projectNote{
    width: 70%;
    height: 100%;
    background-color: rgb(250, 250, 20);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid;
}

#p_titlecontainer{
    width: 100%;
}

#pn_title{
    color: red;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    font-size: large;
    font-weight: 900;

}

#pn_content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
}

#note_container{
    width: 100%;
    display: flex;
}

#note_content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#p_nameInput{
    width: 70%;
}

#projectInfo{
    width: 100%;
    
}

#p_infocontainer{
    display: flex;
    
    width: 80%;
    margin-top: 10px;
}

#p_infoname{
    width: 27%;
}

#p_infocontent{
    width: 27%;
}



#left10{
    width: 5%;
    
}



#p_note{
    margin-top: 15px;
    width: 40%;
    height: 100%;
    background-color: rgb(209, 207, 207);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid;
}

#projectButton{
    width: 100%;
    display: flex;
    justify-content: right;
}

#ok{
    margin-right: 15px;
}

#p_carousel{
    width: 100%;
    height: 350px;
    background-color: white;
    display: block;
}